/*TUDO*/
body {
    font-size: 16px;
}

fieldset {
    width: 800px;
    border: 1px solid black !important;
    padding: 30px;
}

legend{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

strong {
    font-weight: bold;
}

input {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

/*CONTEUDO*/
div.conteudo {
    margin-top: 3px;        
    border: 1px solid #000;
    width: 98%;
    height: auto;
    padding: 18px;
}

/*PERSONALIZAÇÂO*/
fieldset.aviso{
    padding: 20px;
    text-align: center;
    color: #4195aa;
    font-weight: bold;
}

.erro {
    font-weight: bold;
    color: red;    
}